.navbar {
  background: rgba(15, 25, 45, 0.94) !important;

  border:
    1px solid rgba(85, 210, 255, 0.35);

  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  box-shadow:
    0 8px 25px rgba(0, 0, 0, 0.40),
    inset 0 1px 1px rgba(255, 255, 255, 0.12);
}

.navbar::before {
  display: block !important;

  background:
    linear-gradient(
      120deg,
      rgba(85, 229, 255, 0.06),
      transparent 40%,
      rgba(155, 108, 255, 0.05)
    );
}

.logo {
  position: relative;

  z-index: 1;

  font-size: 1.05rem;

  font-weight: 800;

  letter-spacing: 3px;

  background:
    linear-gradient(
      90deg,
      #55e6ff,
      #4da6ff,
      #9b6cff
    );

  -webkit-background-clip: text;
  -webkit-text-fill-color: turquoise;

  filter:
    drop-shadow(
      0 0 8px rgba(85, 229, 255, 0.135)
    );
}



.links {
  position: relative;

  z-index: 1;

  display: flex;

  align-items: center;

  gap: 30px;
}


.links a {
  position: relative;

  display: flex;

  align-items: center;

  gap: 7px;

  color: #aebbd0;

  text-decoration: none;

  font-size: 0.92rem;

  font-weight: 600;

  letter-spacing: 0.3px;

  transition:
    color 0.3s ease,
    transform 0.3s ease;
}


/* =========================
   LINK HOVER
========================= */

.links a:hover {
  color: #55e6ff;

  transform: translateY(-2px);
}


/* =========================
   UNDERLINE
========================= */

.links a::after {
  content: "";

  position: absolute;

  left: 50%;
  bottom: -7px;

  width: 0;
  height: 2px;

  transform: translateX(-50%);

  border-radius: 999px;

  background:
    linear-gradient(
      90deg,
      #55e6ff,
      #4da6ff,
      #9b6cff
    );

  box-shadow:
    0 0 8px rgba(85, 230, 255, 0.45);

  transition:
    width 0.3s ease;
}


.links a:hover::after {
  width: 100%;
}


/* =========================
   NAV ICONS
========================= */

.links a svg {
  color: #55e6ff;

  filter:
    drop-shadow(
      0 0 5px rgba(85, 230, 255, 0.3)
    );

  transition:
    transform 0.3s ease,
    color 0.3s ease,
    filter 0.3s ease;
}


.links a:hover svg {
  color: #9b6cff;

  transform:
    scale(1.12)
    rotate(-4deg);

  filter:
    drop-shadow(
      0 0 7px rgba(155, 108, 255, 0.5)
    );
}


/* =========================
   TABLET
========================= */

@media (max-width: 750px) {

  .navbar {
    top: 10px;

    width: 94%;

    min-height: 56px;

    padding: 0 20px;

    border-radius: 16px;
  }

  .logo {
    font-size: 0.9rem;

    letter-spacing: 2px;
  }

  .links {
    gap: 20px;
  }

  .links a {
    font-size: 0.82rem;
  }
}


/* =========================
   MOBILE
========================= */

@media (max-width: 500px) {

  .navbar {
    width: 92%;

    padding: 0 15px;
  }

  .links {
    gap: 13px;
  }

  .links a {
    font-size: 0.74rem;
  }

  .logo {
    font-size: 0.78rem;

    letter-spacing: 1.5px;
  }
}